@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<BlazoredToasts SuccessIcon="fa fa-check"
                InfoIcon="fa fa-info-circle"
                WarningIcon="fa fa-exclamation-triangle"
                ErrorIcon="fa fa-exclamation-circle"
                SuccessClass="alert-success"
                InfoClass="alert-info"
                WarningClass="alert-warning"
                ErrorClass="alert-danger"
                Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
