@using Downgrooves.Domain
@if (Crumbs != null && Crumbs.Any())
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            @foreach(var crumb in Crumbs)
            {
                if (crumb == Crumbs.Last())
                {
                    <li class="breadcrumb-item active" aria-current="page">@crumb.Name</li>
                } else
                {
                    <li class="breadcrumb-item"><a href="@crumb.Url">@crumb.Name</a></li>    
                }

            }
        </ol>
    </nav>
}
@code {
    [Parameter]
    public List<Breadcrumb> Crumbs { get; set; } = new();
}
