@page "/videos"
@using Downgrooves.Domain
@using Downgrooves.Admin.ViewModels
@inherits VideosModel

<div class="float-right">
    <NavLink class="btn btn-primary" href="/video">Add new video</NavLink>
</div>
<h3 class="pb-2">Videos</h3>
<hr class="w-100 mb-4"/>

<table class="table table-striped table-condensed">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var video in videos)
        {
            var editLink = $"/video/{video.Id}";
            <tr>
                <th scope="row">@video.Id</th>
                <td>@video.Title</td>
                <td>
                    <NavLink class="btn btn-sm btn-light" href="@editLink">
                        <i class="fa fa-pencil"></i>
                    </NavLink>
                </td>
            </tr>
        }
    </tbody>
</table>
